.gis_TimeSliderDijit {
    height: 16px;
}

.gis_TimeSliderDijit #timesliderbtn {
    position: absolute;
    left: 19px;
    top: 180px;
    padding: 0;
    width: 34px;
    height: 34px;
    background-image: url(../images/time.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(102, 102, 102, 0.8);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(102, 102, 102, 0.8);
}

.gis_TimeSliderDijit .formContainer {
    width: 50px;
}

#timeSliderControlsContainer {
    position: absolute;
    top:20px;
    left:90px;
    width: 495px;
    padding:10px;
    background-color:#F5F5F5;
}

#timeSliderControlsContainer > div {
    display: inline-block;
}
